[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
pyjwt = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
tox = "*"

[requires]
python_version = "3.8"
